<div class="container">
    <h3>Login Page</h3>
    <a href="auth/steam"><img src="images/sits_large_border.png" alt="Sign on with Steam" ></a>

    <form action="auth/local/connect" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required="true"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>

</div>