<div class="container">
    <h3>Register Page</h3>
    <form action="/auth/local/register" method="post">
        <p>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" required="true"/>
        </p>
        <p>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" required="true"/>
        </p>
        <p>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" required="true"/>
        </p>
        <p>
            <input type="submit" value="Sign Up"/>
        </p>
    </form>
</div>