<div class="container">

   <h1>Hello <%=req.user ? req.user.player.username :"Feeder"%>,</h1>
    <h2>Welcome to the Dota2 Stats</h2>

    <%if(!req.user){%>
    <a  href="auth/login"><img src="images/sits_large_border.png" alt="Sign on with Steam" ></a>
    <%}else{%>
    <img src="<%=req.user.player.avatarfull%>"/>



    <%}%>






</div>