<div class="container">
         <% heroes.forEach(function(hero){ %>
     <div class="col-xs-6 col-sm-4">
                    <img src="<%=hero.imagefull%>" alt="<%=hero.name%>"/>
                  <h1><%=hero.displayname%></h1>
                      </div>
         <%})%>
</div>

