<div class="container">
         <% heroes.forEach(function(hero){ %>
              <div>
                  <h2><%=hero.localized_name%></h2>
                  <p>ID:<%=hero.id%></p>
              </div>
         <%})%>
</div>