<div class="container">
    <% matches.forEach(function(match){%>
    <div>
        <h2>Match <%=match.match_id%></h2>
        <p>Match Type : <%=match.lobby_type%></p>
        <a href="getMatch/<%=match.match_id%>"> View Details</a>
    </div>
    <%})%>
</div>